apiVersion: v1
kind: Service
metadata:
  name: logstash-service
  labels:
    app: logstash
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    name: tcp
  - port: 9600
    targetPort: 9600
    name: http
  selector:
    app: logstash
