{{- if .Values.rabbitmq.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  labels:
    app: rabbitmq
spec:
  type: {{ .Values.rabbitmq.service.type }}
  ports:
  - name: amqp
    port: {{ .Values.rabbitmq.service.amqpPort | default 5672 }}
    targetPort: 5672
    protocol: TCP
    {{- if eq .Values.rabbitmq.service.type "NodePort" }}
    nodePort: {{ .Values.rabbitmq.service.amqpNodePort }}
    {{- end }}
  - name: management
    port: {{ .Values.rabbitmq.service.managementPort | default 15672 }}
    targetPort: 15672
    protocol: TCP
    {{- if eq .Values.rabbitmq.service.type "NodePort" }}
    nodePort: {{ .Values.rabbitmq.service.managementNodePort }}
    {{- end }}
  selector:
    app: rabbitmq
{{- end }}
