# Default values for hello-world chart
postgres:
  database: hellodb
  username: hellouser
  password: hellopass123
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

rabbitmq:
  service:
    type: NodePort
    amqpNodePort: 30672
    managementNodePort: 30673

backend:
  replicaCount: 1
  image:
    repository: hello-backend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

frontend:
  replicaCount: 1
  image:
    repository: hello-frontend
    tag: latest
    pullPolicy: Never
  service:
    type: NodePort
    port: 80
    nodePort: 30080
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

kibana:
  service:
    type: NodePort
    port: 5601
    nodePort: 30601


